<!DOCTYPE html>
<html>
<head>
    <title>GitHub OAuth Demo</title>
</head>
<body>
    <h1>GitHub OAuth Demo</h1>
    
    {% if authorized %}
        <button onclick="getStats()">Show Stats</button>
        <button onclick="logout()">Logout</button>
        <div id="stats"></div>
    {% else %}
        <button onclick="login()">Authorize with GitHub</button>
    {% endif %}
    
    <script>
        function login() {
            window.location.href = '/login';
        }
        
        function logout() {
            window.location.href = '/logout';
        }
        
        function getStats() {
            fetch('/stats/KenesYerassyl')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const statsDiv = document.getElementById('stats');
                    languages = [];
                    for (index in data.languages) {
                        console.log(data.languages[index]);
                        languages.push(data.languages[index]['name']);
                    }
                    statsDiv.innerHTML = `
                        <ul>
                            <li>Repo: ${data.repos_count}</li>
                            <li>Stars: ${data.stars}</li>
                            <li>Forks: ${data.forks}</li>
                            <li>Total Issues: ${data.issues}</li>
                            <li>Total Commits: ${data.commits}</li>
                            <li>Total Pull Requests: ${data.pulls}</li>
                            <li>Languages: ${languages}</li>
                        </ul>
                    `;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>